@media (max-width: 576px) {

  #offcanvasNavbar {
    width: 75%;
    background-color: rgba(255, 255, 255, 0.808);
    backdrop-filter: blur(15px);
  }
  .btn-close {
    margin-right: 1.25rem;
  }
  .offcanvas-header {
    margin-right: 1rem;
  }

  .dropdown-menu {
    padding: 1rem;
    margin: 1rem;
  }

  .dropdown-item {
    align-content: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .offcanvas-body {
    align-items: center;

  }

  .nav-item {
    text-align: center;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.75rem;
  }

  .custom-tittle-project {
    padding: 1.15rem;
    margin: 1.15rem;
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.76);
    text-shadow: 2rem 2rem 30rem 30rem rgb(0, 0, 0);
  }

}

@media (max-width: 770px) {

  #offcanvasNavbar {
    width: 60%;
    color: white;
    background-color: rgba(255, 255, 255, 0.808);
    backdrop-filter: blur(15px);
  }

  .hero {
    min-height: 40vh;
    margin-bottom: 2.25rem;
  }
  .full-name  {
    font-size: 2.25rem;
    text-align: justify;
    align-content: center;
    padding: 1.15rem;
    margin: 1.15rem;
  }

  #profile-picture {
    width: 10rem;
    z-index: 1;
  }

  .job-title {
    font-size: 1.10rem;
    text-align: justify;
    align-content: center;
    padding: 1.15rem;
    margin: 1.15rem;
  }

  .color-overlayer {
    position: absolute;
    padding: 1.25rem 1.85rem;
    margin: 1.25rem 1.25rem;
    background-color: rgb(163 163 163 / 45%);
    backdrop-filter: blur(2px);
    border-radius: 5rem 5rem 5rem 5rem;
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.856);
  }

  .custom-tittle-project {
    padding: 1.15rem;
    margin: 1.15rem;
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.76);
    text-shadow: 2rem 2rem 30rem 30rem rgb(0, 0, 0);
  }
}



/* NavBar section - Start */


.navbar-nav {
  margin-right:4rem;
}

.navbar {
  z-index: 1000;
  margin: auto auto;
  /*border-radius: 0rem 0rem 3.2rem 3.2rem;*/
  border: 1px solid rgb(255, 255, 255);
 box-shadow: 0px 0px 10px 1px rgb(255, 255, 255); 
}

.navbar-toggle {
  padding: auto;
  margin-right: 10px;
} 


.navbar-brand {
  padding: auto;
  margin-left: 1rem ;
} 

.nav-link {
  position: relative;
}


.nav-link::after {
  content: '';
  opacity: 0;
  transition: all 0.2s;
  height: 4px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  opacity: 1;
}

.nav-item {
  padding:1rem;
}


/* NavBar section - Finish */
/************************/
/* Hero sections - Start*/


.hero {
  background-image: url(./images/hero-bg-rb.jpg);
  background-size:cover;
  background-position: center;
  align-content: center;
  min-height: 100vh;
  position: relative;
  color: rgba(7, 5, 5, 0.863);
  text-shadow: 0px 0px 10px rgb(255, 255, 255);

}

.color-overlayer {
  position: absolute;
  padding: 1.25rem 1.85rem;
  margin: 1.25rem 1.25rem;
  background-color: rgba(185, 182, 182, 0.226);
  backdrop-filter: blur(2.5px);
  border-radius: 5rem 5rem 5rem 5rem;
  border: 1px solid transparent;
  box-shadow: 0px 0px 30px 15px rgba(17, 17, 17, 0.144);
}

.job-title {
  text-align: center;
  align-content: center;
  padding: 1.25rem;
  margin: 1.25rem;

}

.full-name {
  text-align: center;
  align-content: center;
  padding: 1.25rem;
  margin: 1.25rem;
}


#profile-picture {
  width: 14rem;
  height: 14rem;
  position: relative;
  align-content: center;
  padding: 1.25rem;
  margin: 1.25rem 4.5rem;
}


/* Hero sections - Finish*/
/************************/
/************************/
/* About me and contact - Start */






/* About me and contact - Finish */
/************************/
/************************/
/* Work - Projects sections - Start*/

.custom-tittle-project {
 padding: 1.15rem;
 margin: 1.15rem;
 font-size: 4rem;
 color: rgba(0, 0, 0, 0.76);
 text-shadow: 2rem 2rem 30rem 30rem rgb(0, 0, 0);
 /* background-color: rgba(145, 222, 253, 0.349);
 border-radius: 15rem 15rem 15rem 15rem;  */


}

#Project-1  {
  padding: 1rem;
  margin: 1rem;
  background-color: rgba(0, 148, 247, 0.164);
  z-index: 100;
}

#Project-2  {
  padding: 1rem;
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.555);
  z-index: 100;
}

#Project-3  {
  padding: 1rem;
  margin: 1rem;
  background-color: rgba(255, 13, 223, 0.13);
  z-index: 100;
}


.card .img-fit {
  max-width: 65%;
  object-fit: cover;
}

.card {
  max-width: 95%;
  align-items: center;
  padding: 1rem 1.25rem;
  margin: 1.15rem 1.15rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  box-shadow: 0.5rem 1.2rem 1rem rgba(0, 0, 0, 0.247);
}

.card-body-1 {
  margin: 1rem;
  padding: 2rem;
  border-radius: 1.4rem;
  background-color: rgba(255, 255, 255, 0.226);
  box-shadow: 1.2rem 1.3rem 2rem rgba(0, 0, 0, 0.267);
}

.card-body-2 {
  margin: 1rem;
  padding: 2rem;
  border-radius: 1.4rem;
  background-color: rgba(255, 255, 255, 0.514);
  box-shadow: 1.2rem 1.3rem 2rem rgba(0, 0, 0, 0.267);
}

.card-body-3 {
  margin: 1rem;
  padding: 2rem;
  border-radius: 1.4rem;
  background-color: rgba(255, 255, 255, 0.075);
  box-shadow: 1.2rem 1.3rem 2rem rgba(0, 0, 0, 0.267);
}

.card-title {
  margin: auto;
  padding: 1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
}


.card-text {
  flex-grow: 1;
  margin-top: 1rem;
  color: black;
  text-align:center;
}

.card .text-center {
  margin-bottom: 2rem;
}


/* Work - Projects sections - Finish*/
/************************/
/****** 2nd background color under cards for projects********/

.container {
  padding-top: 1.5rem;
  margin: 1.25rem;
  margin-bottom: 3rem;
  border-radius: 2rem 2rem 2rem ;
  background-color: rgba(1, 132, 255, 0.164);
}


/* Background color for the Projects Section */
#projects {
background-color: rgba(29, 28, 28, 0.048);
}

