@media (max-width: 576px) {

  #offcanvasNavbar {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.61);
    backdrop-filter: blur(3px);
  }
  .btn-close {
    margin-right: 1.25rem;
  }
  .offcanvas-header {
    margin-right: 1rem;
  }

  .dropdown-menu {
    padding: 1rem;
    margin: 1rem;
  }

  .dropdown-item {
    align-content: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .offcanvas-body {
    align-items: center;
  }

  .nav-item {
    text-align: center;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.75rem;
  }

}

@media (max-width: 770px) {

  .nav-top {
    position: sticky;
  }

  .hero {
    min-height: 40vh;
    margin-bottom: 2.25rem;
  }
  .full-name  {
    font-size: 2.25rem;
    text-align: justify;
    align-content: center;
    padding: 1.15rem;
    margin: 1.15rem;
  }

  #profile-picture {
    width: 10rem;
    z-index: 1;
  }

  .job-title {
    font-size: 1.10rem;
    text-align: justify;
    align-content: center;
    padding: 1.15rem;
    margin: 1.15rem;
  }

  .color-overlayer {
    position: absolute;
  }
}

/* NavBar section - Start */

.navbar {
  z-index: 1000;
  margin: 0rem 0rem;
/*  border-radius: 0rem 0rem 1.25rem 1.25rem; */
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.555);
}

.navbar-toggle {
  padding: auto;
  margin-right: 10px;
} 


.navbar-brand {
  padding: 1.25rem 1.25rem 1.25rem;
  margin: 1.25rem 1.25rem;
} 


.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  opacity: 0;
  transition: all 0.2s;
  height: 4px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  opacity: 1;
}

.nav-item {
  padding:1rem;
}


/* NavBar section - Finish */
/************************/
/* Hero sections - Start*/


.hero {
  background-image: url(./images/hero-bg-rb.jpg);
  background-size:cover;
  background-position: center;
  align-content: center;
  min-height: 100vh;
  position: relative;
  color: rgb(255, 255, 255);
  text-shadow: 2px 10px 50px rgb(255, 255, 255);
  box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.144);
  box-shadow: 0px 0px 15px 20px rgb(236, 236, 236);
}

.color-overlayer {
  position: absolute;
  padding: 1.25rem 1.85rem;
  margin: 1.25rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.562);
  backdrop-filter: blur(2px);
  border-radius: 5rem 5rem 5rem 5rem;
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.856);
}

.job-title {
  text-align: center;
  align-content: center;
  padding: 1.25rem;
  margin: 1.25rem;

}

.full-name {
  text-align: center;
  align-content: center;
  padding: 1.25rem;
  margin: 1.25rem;
}


#profile-picture {
  width: 14rem;
  height: 14rem;
  position: relative;
  align-content: center;
  padding: 1.25rem;
  margin: 1.25rem 4.5rem;
}


/* Hero sections - Finish*/
/************************/
/************************/
/* About me and contact - Start */






/* About me and contact - Finish */
/************************/
/************************/
/* Work - Projects sections - Start*/

.card .img-fit {
  height: 100%;
  object-fit: cover;
}

.card {
  height: 100%;
  align-items: center;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-title {
  margin: auto;
  padding: auto;
}
.card-text {
  flex-grow: 1;
}
.card .text-center {
  margin-bottom: 1rem;
}


/* Work - Projects sections - Finish*/
/************************/
.container {
  padding: 1.25rem 2.25rem;
  margin: 2.25rem;
  margin-bottom: 3rem;
  border-radius: 2rem 2rem 2rem ;
}


/* Footer*/